@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

/* How to import each font: 
font-family: 'Krona One', sans-serif;
font-family: 'Jura', sans-serif;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /*
    background-color: #d9fcdf;
    */
    background-color: #373737;
    color: white;
    font-size: 18px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Jura', sans-serif;
}

header {
    padding-top: 15px;
    background-color: #252525;
    padding-bottom: 30px;
}

header .flags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 35px;
    width: 70px;
    justify-content: space-around;
    align-content: center;
    right: 0;
    margin-right: 20px;
    margin-left: auto;
    border-radius: 20px;
    background-color: white;
    position: relative;
    box-shadow: 5px 5px 10px black;
}

header .flags a {
    height: 25px;
    text-decoration: none;
    text-align: center;
}

header .flags a img {
    width: 25px;
    border-radius: 50%;
}

header .name-and-avatar {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}

header h2 {
    margin-bottom: 10px;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: white;
    border-radius: 50%;
    border-top-left-radius: 0px;
    border-left: 30px solid white;
    border-right: 30px solid white;
    border-top: 15px solid white;
    border-bottom: 40px solid white;
    max-width: 85%;
}