@import './variables';
header {
  padding-top: 20px;
  background-color: $header-dark;
  padding-bottom: 30px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;


  .flags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 44px;
    width: 90px;
    justify-content: space-around;
    align-content: center;
    right: 0;
    margin-right: 20px;
    margin-left: auto;
    border-radius: 20px;
    background-color: white;
    position: relative;
    box-shadow: 5px 5px 10px black;
    
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        filter: grayscale(1)
        contrast(300%)
        opacity(70%);
        cursor: pointer;
        transition: ease-in-out 300ms;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      img:hover {
        filter: grayscale(0)
        opacity(100%);
        transition: ease-in-out 300ms;
      }
      .selected-language {
        filter: 
        grayscale(0)
        opacity(100%);
        
      }
      .selected-language:hover {
        box-shadow: 1px 1px 2px black;

      }
    

  }

  .name-and-avatar {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    max-width: 75%;
    h2 {
      margin-bottom: 10px;
    }
    .avatar {
    display: block;
      margin-left: auto;
      margin-right: auto;
      align-self: center;
      background-color: white;
      border-radius: 50%;
      border-top-left-radius: 0px;
      border-left: 30px solid white;
      border-right: 30px solid white;
      border-top: 15px solid white;
      border-bottom: 40px solid white;
      max-width: 85%;
      box-shadow: 5px 5px 35px black;
    }
  }


}